@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Comic');
body {
    background: whitesmoke;
    font-family: 'Lato';
    color: black;
    size: 100%;
    position: relative;
}

#btnvalider {
    background-color: #f35edf;
    font-family: 'Comic';
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.lala {
    color: rgb(136, 12, 95);
    text-decoration: none;
}

.material-icons {
    font-size: 24px;
    margin-right: 12px;
    vertical-align: text-bottom;
}

.menu {
    color: #f35edf;
    font-family: Arial;
    height: 10px;
    padding-left: 0;
    background-color: rgb(179, 245, 229);
    z-index: 0;
}

.menu .title {
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    line-height: 300px;
    padding: 0 370px;
    text-transform: uppercase;
}

.menu nav {
    background: inherit;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    height: 0;
    overflow: hidden;
    text-transform: uppercase;
    transition: height .2s;
}

.menu nav>* {
    display: block;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 2.5;
    padding: 0 90px;
    width: 100%;
}

.menu nav input {
    background: rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-family: Arial;
}

.menu .burger {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Material Icons';
    font-size: 30px;
    line-height: 40px;
    padding-right: 0;
    padding-top: 235px;
    position: absolute;
    top: 0;
    width: 10px;
}

.menu .burger:before {
    content: 'Menu';
    position: fixed;
    top: 75px;
    font-family: Arial;
}

.menu .burger:checked:before {
    content: 'X';
}

.menu .burger:checked+nav {
    height: calc(100vh - 50px);
}

header {
    background-image: url(../imgFiles/entetegirls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
}

#logo {
    padding-right: 0;
    width: 5%;
    position: absolute;
}

footer {
    height: 200px;
    background-color: whitesmoke;
    bottom: 0;
    right: 50%;
    left: 50%;
    position: absolute;
    flex: auto;
}

#super {
    border-radius: 200px 200px 200px 200px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.teamName {
    color: goldenrod;
    text-shadow: silver 3px 3px 5px;
    position: absolute;
    z-index: 3;
}

#contenu {
    position: absolute;
    bottom: 0;
}